@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  color: #2d7592bb;
}

ul > li {
  list-style: none;
  font-size: 0.65em;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5ddf39f;
}

.weather-app {
  box-shadow: 0 0.15em 0.5em 0.2em #56adcf67;
  width: 22em;
  height: 44em;
  border-radius: 0.75em;
  padding: 1em;
  background-color: #57bee727;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.weather-app > select {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 1em;
}

.weather-app > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.weather-app > div > img {
  width: 7em;
  margin: 1.5em 0;
}

.weather-app > div > .stats {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.1em;
}

.weather-app > div > .stats > div {
  border: 2px solid;
  border-radius: 1em;
  width: 6.3em;
  height: 6.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drop-down {
  text-align: center;
  font-size: 2em;
  padding: 0.25em;
  width: 10em;
}

.drop-down-top {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #c4e7f5f1;
  padding: 0.25em;
  box-shadow: 0 0 0.25em #c4e7f5f1;

  font-size: 0.75em;
}

.drop-down-top > .menu-button {
  position: absolute;
  right: 0.5em;
  top: 0.89em;
  font-size: 0.65em;
  opacity: 0.5;
}

.menu-list > li {
  box-shadow: 0 0 0.25em #c4e7f5f1;
  background-color: #c4e7f5f1;
  padding: 0.25em;
}
